/* Webfont: MORVINOGROWING-Regular */@font-face {
    font-family: 'MORVINOGROWING';
    src: url('Pinky Unicorn.eot'); /* IE9 Compat Modes */
    src: url('Pinky Unicorn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Pinky Unicorn.woff') format('woff'), /* Modern Browsers */
         url('Pinky Unicorn.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

